@import '../variables.scss';
.panel {
  margin-bottom: 20px;
  border: 1px solid $black;
  padding: 20px;
}

.panel__header {
  font-size: $font-medium;
  border-bottom: 1px solid $grey;
  padding: 5px 10px;
  margin: auto;
}

.pane__body {
  font-size: 14px;
}